#body-container {
    max-width: 960px;
    background-color: white;
  }

body {
    background-image: url("assets/css/grey-linen.jpg");
    background-repeat: repeat-y;
    /* background-color: rgb(48, 47, 47); */
}

.navbar-nav {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
}

.navbar{
    background-color: white;
    color: #4aaaa5;
}

.collapse {
    color: #4aaaa5;
    background-color: white;
}

.img-fluid {
    border: 3px solid #cccccc;
}

h2 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    border-bottom: 3px solid #cccccc;
    padding: 15px 0px;
}

.text {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    clear: left;
    float: left;
}

#selfie {
    max-width: 400px;
    margin-right: 10px;
    float: left;
}

.form-control {
    border: 3px solid #4aaaa5;
}

.card-title {
    text-align: center;
    background-color: #4aaaa5;
    opacity: 0.8;
    padding: 10px 0px;
    margin-top: 165px;
}

.card-img-overlay {
    padding: 0;
}

.card {
    border: 3px solid  #cccccc;
}

#wireframe-container {
    margin-top: 20px;
}